/* Global Settings */

body {
  background-color: #ddd;
  /* min-height: 2000px; */
}

/* Navbar */

.navbar-brand {
  font-variant: small-caps;
}
.dropdown-menu[data-bs-popper] {
  top: 120%;
  left: 0;
  margin-top: 0.125rem;
}
.dropdown-menu {
  background: grey;
}
.dropdown-item {
  color: #212529;
}

/* Footer */
.footer {
  margin-top: 40px;
  margin-bottom: 0;
  width: 100%;
  padding: 5px 0;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  color: grey;
  position: relative;
  bottom: 0;
}
.copyright {
  text-align: center;
}
strong {
  font-weight: 900;
}
